{% extends 'Admin/base.html' %}

{% load static %} 
{% block content %}
    <div class="main-wrapper">
    
        <!-- Header -->
      {% include 'Admin/includes/header.html' %}
        <!-- /Header -->
        
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-logo">
                    <a href="{% url 'admin_index' %}">
                        <img src="{% static 'admin/assets/img/logo.svg' %}" class="img-fluid logo" alt="">
                    </a>
                    <a href="{% url 'admin_index' %}">
                        <img src="{% static 'admin/assets/img/logo-small.svg' %}" class="img-fluid logo-small" alt="">
                    </a>
                </div>
                <div class="siderbar-toggle">
                    <label class="switch" id="toggle_btn">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            
           {% include 'Admin/includes/dashboard.html' %}
        </div>
        <!-- /Sidebar -->
        
        <div class="page-wrapper page-settings">
            <div class="content">
                <div class="content-page-header content-page-headersplit mb-0">
                    <h5>Featured Rooms</h5>
                    <div class="list-btn">
                        <ul>
                            <li>
                                <a class="btn-filters active" href="#"><i class="fe fe-list"></i> </a>
                            </li>
                            <li>
                                <a class="btn-filters" href="javascript:void(0);"><i class="fe fe-grid"></i> </a>
                            </li>
                            <li>
                                <a class="btn-filters" href="#"><i class="fe fe-settings"></i> </a>
                            </li>
                           
                            <li>
                                <a class="btn btn-primary" href="add-categories.html"><i class="fa fa-plus me-2"></i>Add Rooms </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <div class="table-resposnive table-div">
                           
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Room</th>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Featured</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for room in rooms %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>
                                            <div class="table-imgname">
                                                <img src="{{room.hotel_images.url}}" class="me-2" alt="img">
                                                <span>{{room.room_number}}</span>
                                            </div>
                                        </td>
                                        <td>{{room.category.name}}</td>
                                        <td>{{room.created_at}}</td>
                                        <td>
                                            <div class="active-switch">
                                                <label class="switch">
                                                    <input type="checkbox" checked="">
                                                    <span class="sliders round"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="table-actions d-flex">
                                                <a class="delete-table me-2" href="edit-categories.html" >
                                                   <img src="{% static 'admin/assets/img/icons/edit.svg' %}" alt="svg">
                                                </a>
                                                <a class="delete-table" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                                    <img src="{% static 'admin/assets/img/icons/delete.svg' %}" alt="svg">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                   
                                    <!-- Add more rows as needed following the same pattern -->
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!-- Delete -->
    <div class="modal fade" id="delete-item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Delete Categories</h5>
					<button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
						<i class="fe fe-x"></i>
					</button>
				</div>
                <form action="categories.html">
                    <div class="modal-body py-0">
                        <div class="del-modal">
                            <p>Are you sure want to Delete?</p>
                        </div>
                    </div>
                    <div class="modal-footer pt-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </form>
			</div>
		</div>
	</div>






    <!-- /Delete -->



   
{% endblock %}