
{% extends 'Admin/base.html' %}
{% load static %} 
{% block content %}
    <div class="main-wrapper">
    
        <!-- Header -->
     {% include 'Admin/includes/header.html' %}
        <!-- /Header -->
        
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-logo">
                    <a href="{% url 'admin_index' %}">
                        <img src="{% static 'hotel.jpeg' %}" class="img-fluid logo" alt="">
                    </a>
                    <a href="{% url 'admin_index' %}">
                        <img src="{% static 'hotel.jpeg' %}" class="img-fluid logo-small" alt="">
                    </a>
                </div>
                <div class="siderbar-toggle">
                    <label class="switch" id="toggle_btn">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
           {% include 'Admin/includes/dashboard.html' %}
        </div>
        <!-- /Sidebar -->
        
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service" >
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/user.svg' %}" alt="img"></span>
                                            <h6>User</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters"  data-count="{{account_count}}">{{account_count}}</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph1.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user home-provider">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/user-circle.svg' %}" alt="img"></span>
                                            <h6>Total Rooms</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                           
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters"  data-count="{{total_room}}">{{total_room}}</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph2.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user home-service">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/service.svg'  %}" alt="img"></span>
                                            <h6>Booked Rooms</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                           
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters"  data-count="{{booked}}">{{booked}}</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph3.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                  

                    <div class="col-lg-3 col-sm-6 col-12 d-flex widget-path widget-service">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user home-subscription">
                                    <div class="home-userhead">
                                        <div class="home-usercount">
                                            <span><img src="{% static 'admin/assets/img/icons/money.svg' %}" alt="img"></span>
                                            <h6>Revenue</h6>
                                        </div>
                                        <div class="home-useraction">
                                            <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                           
                                        </div>
                                    </div>
                                    <div class="home-usercontent">
                                        <div class="home-usercontents">
                                            <div class="home-usercontentcount">
                                                <img src="{% static 'admin/assets/img/icons/arrow-up.svg' %}" alt="img" class="me-2">
                                                <span class="counters" >€{{total}}</span>
                                            </div>
                                            <h5> Current Month</h5>
                                        </div>
                                        <div class="homegraph">
                                            <img src="{% static 'admin/assets/img/graph/graph4.png' %}" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 d-flex  widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                            <div class="home-head-user">
                                <h2>Revenue</h2>
                                <div class="home-select">
                                    <div class="dropdown">
                                        <button class="btn btn-action btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Monthly
                                        </button>
                                        <ul class="dropdown-menu" data-popper-placement="bottom-end" >
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                            </li>												
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chartgraph">
                                <div id="chart-view"></div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 d-flex  widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user">
                                        <h2>Booking Summary</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end" >
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div id="chart-booking"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 col-sm-6 col-12 d-flex  widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user">
                                        <h2>Income</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end" >
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div id="chart-incomes"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Top Hotel Rooms</h2>
                                        <a href="{% url 'admin_category' %}" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                    <table class="table datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Room</th>
                                                <th>Category</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for room in rooms %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    <a href="view-service.html" class="table-imgname">
                                                        <img src="{{room.hotel_images.url}}" class="me-2" alt="img">
                                                        <span>{{room.room_number}}</span>
                                                    </a>
                                                </td>
                                                <td>{{room.category.name}}</td>
                                                <td>€{{room.price_per_night}}</td>
                                            </tr>
                                            {% endfor %}
                                           
                                          
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Recent Users</h2>
                                        <a href="{% url 'all_users' %}" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                        <table class="table datatable ">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Users Name</th>
                                                    <th>Email</th>
                                                    <th>Date Join</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in accounts %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-06.jpg' %}" class="me-2" alt="img">
                                                            <span>{{user.full_name}}</span>
                                                        </a>
                                                    </td>
                                                    <td>{{user.email}}</td>
                                                    <td>{{user.date_joined}}</td>
                                               </tr>

                                                {% endfor %}
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Top Countries</h2>
                                        <div class="home-select">
                                            <div class="dropdown">
                                                <button class="btn btn-action btn-sm dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                                                    Monthly
                                                </button>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end" >
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                                    </li>												
                                                </ul>
                                            </div>
                                            <div class="dropdown">
                                                <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chartgraph">
                                        <div class="row align-items-center">
                                            <div class="col-lg-7">
                                                <div id="world_map" style="height: 150px"></div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="bookingmap">
                                                    <ul>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/us.png' %}" alt="img" class="me-2">United States</span>
                                                            <h6>60%</h6>
                                                        </li>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/in.png' %}" alt="img" class="me-2">India</span>
                                                            <h6>80%</h6>
                                                        </li>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/ca.png' %}" alt="img" class="me-2">Canada</span>
                                                            <h6>50%</h6>
                                                        </li>
                                                        <li>
                                                            <span><img src="{% static 'admin/assets/img/flags/au.png' %}" alt="img" class="me-2">Australia</span>
                                                            <h6>75%</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-12 d-flex widget-path">
                        <div class="card">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Booking Statistics</h2>
                                        <a href="{% url 'admin_category' %}" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="chartgraph">
                                        <div class="row align-items-center">
                                            <div class="col-lg-7 col-sm-6">
                                                <div id="chart-bar"></div>
                                            </div>
                                            <div class="col-lg-5 col-sm-6">
                                                <div class="bookingstatus">
                                                    <ul>
                                                        <li>
                                                            <span></span>
                                                            <h6>Completed</h6>
                                                        </li>
                                                        <li class="process-status">
                                                            <span></span>
                                                            <h6>Process</h6>
                                                        </li>
                                                        <li class="process-pending">
                                                            <span></span>
                                                            <h6>Pending</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 widget-path">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="home-user">
                                    <div class="home-head-user home-graph-header">
                                        <h2>Recent Booking</h2>
                                        <a href="{% url 'admin_category' %}" class="btn btn-viewall">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="table-responsive datatable-nofooter">
                                        <table class="table datatable">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Booking Time</th>
                                                    <th>Hotel Room</th>
                                                    <th>User</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                           


                                            <tbody>
                                                {% for book in booking %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{book.check_in_date}}</td>
                                                    <td>{{ book.check_in_date|date:"H:i:s" }}</td>                         
                                                    

                                                  
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{{book.room.hotel_images.url}}" class="me-2" alt="img">
                                                            <span>{{book.room.room_number}}</span>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <span>{{book.guest.full_name}}</span>
                                                        </a>
                                                    </td>
                                                   
                                                   
                                                    <td>€{{book.room.price_per_night}}</td>
                                                    {% if book.payment_completed %}
                                                    <td><h6 class="badge-active">Completed</h6></td>
                                                    {% else  %}
                                                    <td><h6 class="badge-pending">Pending</h6></td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                                {% comment %} <tr>
                                                    <td>2</td>
                                                    <td>10 Sep 2022</td>
                                                    <td>18:00:00 - 19:00:00</td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-04.jpg' %}" class="me-2" alt="img">
                                                            <span>Johnny</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-05.jpg' %}" class="me-2" alt="img">
                                                            <span>Pricilla</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="view-service.html" class="table-imgname">
                                                            <img src="{% static 'admin/assets/img/services/service-02.jpg' %}" class="me-2" alt="img">
                                                            <span>Car Repair Services</span>
                                                        </a>
                                                    </td>
                                                    <td>$50</td>
                                                    <td><h6 class="badge-active">Completed</h6></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>25 Sep 2022</td>
                                                    <td>12:00:00 - 13:00:00</td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-06.jpg' %}" class="me-2" alt="img">
                                                            <span>Robert</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-02.jpg' %}" class="me-2" alt="img">
                                                            <span>Amanda</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="view-service.html" class="table-imgname">
                                                            <img src="{% static 'admin/assets/img/services/service-04.png' %}" class="me-2" alt="img">
                                                            <span>Steam Car Wash</span>
                                                        </a>
                                                    </td>
                                                    <td>$50</td>
                                                    <td><h6 class="badge-inactive">In progress</h6></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>08 Sep 2022</td>
                                                    <td>07 Oct 2022 11:22:51</td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-09.jpg' %}" class="me-2" alt="img">
                                                            <span>Sharonda</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-01.jpg' %}" class="me-2" alt="img">
                                                            <span>James</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="view-service.html" class="table-imgname">
                                                            <img src="{% static 'admin/assets/img/services/service-09.jpg' %}" class="me-2" alt="img">
                                                            <span>House Cleaning</span>
                                                        </a>
                                                    </td>
                                                    <td>$50</td>
                                                    <td><h6 class="badge-delete">Cancelled</h6></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>28 Sep 2022</td>
                                                    <td>10:00:00 - 11:00:00</td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-01.jpg' %}" class="me-2" alt="img">
                                                            <span>John Smith</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="table-profileimage">
                                                            <img src="{% static 'admin/assets/img/customer/user-03.jpg' %}" class="me-2" alt="img">
                                                            <span>Sharon</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="view-service.html" class="table-imgname">
                                                            <img src="{% static 'admin/assets/img/services/service-03.jpg' %}" class="me-2" alt="img">
                                                            <span>Computer Repair</span>
                                                        </a>
                                                    </td>
                                                    <td>$80</td>
                                                    <td><h6 class="badge-pending">Pending</h6></td>
                                                </tr> {% endcomment %}
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    {% comment %} <div id="overlayer">
        <span class="loader">
        <span class="loader-inner"></span>
        </span>
    </div> {% endcomment %}



{% endblock %}