
{% load static %}
<style>
.hamburger-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 10000; /* Adjust if needed */
}

.hamburger-icon span {
    display: block;
    width: 30px; /* Width of the bars */
    height: 3px;  /* Height of each bar */
    margin: 5px 0; /* Spacing between the bars */
    background-color: black; /* Color of the bars */
    transition: all 0.3s ease; /* Smooth animation */
}
</style>
<div class="container">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span style="color:black;z-index:10000;"  class="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="{% url 'home' %}" class="navbar-brand logo" style='width:200px;height:70px;'>
                <img src="{% static 'logo.png' %}" class="img-fluid" alt="Logo" style='width:100%;height:100%;object-fit:contain;filter: contrast(1.2) saturate(1.5);'>   
            </a>						
        </div>

        <div style="flex-direction:column;" class="main-menu-wrapper">
            <div style="background-color:#c10037" class="menu-header">
                <a id="menu_close" style="position:absolute;right:0;color:white;" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
            </div>
            <div style="margin-top:2rem;width:100%;background-color:#c10037;margin-bottom:2rem;" class="menu-header">
                <a href="{% url 'home' %}" class="menu-logo">
                    <img src="{% static 'logo.png' %}" style="background-color:red;width:100%;height:100%" class="img-fluid" alt="Logo">
                </a>
            </div>
            <ul class="main-nav">
                <li class="has-submenu megamenu">
                    <a href="{%url 'home' %}" style=' color:#374b5c'>Home </a>
                   
                </li>
                <li><a href="{% url 'book_marks' %}" style='color: #374b5c;'>Bookmarks</a></li>
                <li><a href="{% url 'dashboard' %}" style='color: #374b5c;'>My Booking</a></li>
                <li><a href="{% url 'contact' %}" style='color: #374b5c;'>Contact us</a></li>
                <li><a href="https://www.google.com/maps/place/Sky+Hotel/@35.1707555,33.3621487,17z/data=!3m1!4b1!4m9!3m8!1s0x14de175ad83a9f81:0xf1255bba300d6a06!5m2!4m1!1i2!8m2!3d35.1707555!4d33.3621487!16s%2Fg%2F1tm6ttwb?entry=ttu&g_ep=EgoyMDI0MDkyNC4wIKXMDSoASAFQAw%3D%3D"  target="_blank" style='color: #374b5c;'>Location</a></li>

                {% if user.is_superadmin %}
                <li><a href="{% url 'admin_index' %}" target="_blank" style='color: #374b5c;'>Admin</a></li>
                {% endif %}
          
                <li class="login-link">
                    <a href="{% url 'login' %}" style='color: #374b5c;'>Sign Up</a>
                </li>
                <li class="login-link">
                    <a href="{% url 'register' %}" style='color: #374b5cs;'>Sign In</a>
                </li>
            </ul>
        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'register' %}" style='background-color:#c10037;'>Sign Up</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'logout' %}" style='background-color:#c10037;'>Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'login' %}" style='background-color:#c10037;'> Sign In</a>
            </li>

            {% endif %}
            
        </ul>
    </nav>
</div>
