 
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title m-0">
                            <h6>Home</h6>
                        </li>
                        <li>
                            <a href="{% url 'admin_index' %}" class="{% if request.path == '/admins/index/' %}active{% endif %}"><i class="fe fe-grid"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="menu-title">
                            <h6>Listing</h6>
                        </li>
                        <li>
                            <a href="listings.html" ><i class="fe fe-briefcase"></i> 
                                <span>Listings</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_category' %}" class="{% if request.path == '/admins/rooms/' %}active{% endif %}"><i class="fe fe-file-text"></i> 
                                <span>Hotel Room</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'category_admin' %}" class="{% if request.path == '/admins/category/' %}active{% endif %}"><i class="fe fe-clipboard"></i> <span>Categories</span></a>
                        </li>
                       
                       
                     
                        <li>
                            <a href="{% url 'features' %}" class="{% if request.path == '/admins/features/' %}active{% endif %}"><i class='fe fe-briefcase'></i><span>Amenities</span></a>
                        </li>
                       
                        <li class="menu-title">
                            <h6>Finance & Accounts</h6>
                        </li>
                        <li>
                            <a href="{% url 'trans' %}" class="{% if request.path == '/admins/transactions/' %}active{% endif %}"><i class="fe fe-bar-chart"></i> <span>Transactions</span></a>
                        </li>
                        
                      
                       
                        
                        <li>
                            <a href="#" ><i class="fe fe-settings"></i> <span>Settings</span></a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" data-bs-toggle="modal" data-bs-target="#logout-item"><i class="fe fe-log-out"></i> <span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>