{% extends 'base.html' %}
{% load static %}  
{% block content %}  
	
	<div class="main-wrapper innerpagebg">
	
		<!-- Header -->
		<header class="header">
			{% include 'includes/header1.html' %}
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">Frequently Asked Questions</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">FAQ</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->		     	
		
		<!-- FAQ Section -->
		<section class="faq-section listing-section ">
			<div class="container">
				<div class="faq-info">
					<div class="page-title " style='margin-top:15px;'>
					   <h2 class="mt-0">Payments</h2>
					</div>
					<div class="faq-card">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">Is Wi-Fi Available and Is It Free?</a>
						</h4>
						<div id="faqOne" class="card-collapse collapse">
							<p>Yes, we provide complimentary high-speed Wi-Fi throughout the hotel, including guest rooms and public areas.</p>
						</div>
					</div>	

					<div class="faq-card">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqTwo" aria-expanded="false">What Is Your Cancellation Policy?</a>
						</h4>
						<div id="faqTwo" class="card-collapse collapse">
							<p> Our cancellation policy varies based on the room type and booking conditions. Generally, cancellations made up to [insert time] before the check-in date are free of charge.</p>
						</div>
					</div>
					<div class="faq-card">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqThree" aria-expanded="false">Do You Have Parking Available?</a>
						</h4>
						<div id="faqThree" class="card-collapse collapse">
							<p>Yes, we offer free on-site parking for our guests. Spaces are available on a first-come, first-served basis.</p>
						</div>
					</div>	
					<div class="faq-card mb-0">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqFour" aria-expanded="false">Are Pets Allowed in the Hotel?</a>
						</h4>
						<div id="faqFour" class="card-collapse collapse">
							<p>Yes, we are pet-friendly. However, we charge a [insert fee] cleaning fee per pet, and there may be size or breed restrictions. Please inform us during your booking.</p>
						</div>
					</div>	
					<div class="page-title">
					   <h2>Suggestions</h2>
					</div>
					<div class="faq-card">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqFive" aria-expanded="false"> What Amenities Do You Offer?</a>
						</h4>
						<div id="faqFive" class="card-collapse collapse">
							<p>Our hotel offers amenities such as a fitness center, swimming pool, restaurant, and free Wi-Fi. Additional services like spa treatments and room service are also available.</p>
						</div>
					</div>	
					<div class="faq-card">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqSix" aria-expanded="false" >How Can I Modify or Cancel My Booking?</a>
						</h4>
						<div id="faqSix" class="card-collapse collapse">
							<p>You can modify or cancel your booking by logging into your account on our website or contacting our reservations team directly.</p>
						</div>
					</div>	
					<div class="faq-card">
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqSeven" aria-expanded="false">Do You Have Accessible Rooms for Guests with Disabilities?</a>
						</h4>
						<div id="faqSeven" class="card-collapse collapse">
							<p>Yes, we offer accessible rooms and facilities for guests with disabilities. Please mention your needs when booking so we can accommodate you properly.</p>
						</div>
					</div>	
					<div class="faq-card"style='margin-bottom:16rem;' >
						<h4 class="faq-title">
							<a class="collapsed" data-bs-toggle="collapse" href="#faqEight" aria-expanded="false">What Forms of Payment Do You Accept?</a>
						</h4>
						<div id="faqEight" class="card-collapse collapse">
							<p >We accept the following forms of payment:

								Credit cards: Visa, MasterCard, American Express
								Debit cards
								Bank transfers (for advanced bookings)
								Cash (in local currency) If you need to arrange another form of payment, please contact our reservation team in advance.
							
							</p>
						</div>
					</div>													
				</div>		
		    </div>	
		</section>	
		<!-- /FAQ Section -->	


        <!-- Footer -->
	{% include 'includes/footer.html' %}
		<!-- /Footer -->			
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	<!-- jQuery -->
{% endblock %}