{% extends 'base.html' %}

{% load static %} 
{% block content %}

	
	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			{% include 'includes/header1.html' %}
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">Privacy Policy</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Privacy policy -->		
		<div class="terms-content listing-section ">
			<div class="container">
				<div class="row" style='margin-top:3rem;'>
				    <div class="terms-info">
						<div class="page-title">
						   <h5>1.  Introduction</h5>
						</div>
						<p>Welcome to SKY HOTEL! We respect your privacy and are committed to protecting your personal data. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website and use our services.</p>
					    <div class="page-title">
						   <h5>2. Information We Collect</h5>
						</div>
						<p>We may collect the following types of personal information when you visit our site or make a reservation:
						
							Personal Identification Information: Name, email address, phone number, postal address, payment information, and other relevant data.
							Non-Personal Identification Information: Browser type, Internet Service Provider (ISP), referring/exit pages, and date/time stamps.
							Cookies and Tracking Technologies: Information collected through cookies, web beacons, and other tracking technologies.</p>
					   
						
						<div class="page-title">
						   <h5>3. How We Use Your Information</h5>
						</div>
						<p style='margin-bottom:3rem;'>We use your information for various purposes, including:
						
							To process your reservations and manage your account.
							To communicate with you regarding your bookings and inquiries.
							To send periodic emails regarding your booking, promotions, and other updates.
							To improve our website, services, and customer experience.
							To understand website usage and analyze trends.
							To comply with legal obligations and protect our legal rights.</p>


						<div class="page-title">
						   <h5>4 Sharing Your Information</h5>
						</div>
						<p >	
							We do not sell, trade, or otherwise transfer your personal information to outside parties, except in the following situations:
							
							Service Providers: We may share information with trusted third-party service providers who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.
							Legal Compliance: We may disclose your information when required to do so by law or in response to valid requests by public authorities.
							Business Transfers: In the event of a merger, acquisition, or asset sale, your personal information may be transferred.</p>
						
						
						<div class="page-title">
						   <h5>5. Data Security</h5>
						</div>
						<p >The security of your personal information is important to us. We implement appropriate technical and organizational measures to protect your data from unauthorized access, use, alteration, or destruction. However, no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>
						<div class="page-title">
						   <h5>6. Your Rights</h5>
						</div>
						<p >Depending on your location, you may have the following rights regarding your personal information:
						
							The right to access, update, or delete your personal information.
							The right to request the restriction of processing your personal information.
							The right to object to the processing of your personal information.
							The right to data portability.
							To exercise any of these rights, please contact us using the information provided below.</p>
						<div class="page-title">
						   <h5>7. Cookies Policy</h5>
						</div>
						<p >	Our website uses cookies to enhance your experience. Cookies are small data files stored on your device that help us improve our services. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer.
						
							For more detailed information on the cookies we use and your choices regarding cookies, please refer to our Cookie Policy.</p>
										
						<div class="page-title">
						   <h5>8. Links to Third-Party Websites</h5>
						</div>
						<p >Our website may contain links to third-party sites. We do not control these sites, and we are not responsible for their content or practices. We encourage you to read the privacy policies of any linked websites you visit.
						</p>
										
						<div class="page-title">
						   <h5>9. Changes to This Privacy Policy</h5>
						</div>
						<p >We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website with an updated effective date. You are advised to review this Privacy Policy periodically for any changes.</p>
										
						<div class="page-title">
						   <h5>10. Contact Us</h5>
						</div>
						<p style='margin-bottom:3rem;'>If you have any questions or concerns regarding this Privacy Policy, please contact us:
						    <br>
							SKY HOTEL <br>
							SOLONOS 7C, LAIKI YTONIA <br>
							NICOSIA, 1011 <br>
							reservations@skyhotel.ws <br>
							+375 22 666 880 </p>
										
					
						
						
						
						
						
						
					
						
						
						
						
					
					
					</div>					
				</div>
			</div>
		</div>
		<!-- /Privacy policy -->
		
		<!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->	
	
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	
	<!-- jQuery -->
{% endblock %}
							