{% extends 'base.html' %}

{% load static %} 
{% block content %}

	
	<div class="main-wrapper">
	
		<!-- Header -->
		<header class="header">
			{% include 'includes/header1.html' %}
		</header>
		<!-- /Header -->
		
		<!-- Breadscrumb Section -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row align-items-center text-center">
		    		<div class="col-md-12 col-12">
			    	    <h2 class="breadcrumb-title">Privacy Policy</h2>
				    	<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
							</ol>
						</nav>							
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadscrumb Section -->
		
		<!-- Privacy policy -->		
		<div class="terms-content listing-section ">
			<div class="container">
				<div class="row" style='margin-top:3rem;'>
				    <div class="terms-info">
						<div class="page-title">
						   <h5>1. Terms</h5>
						</div>
						<p>By booking a room at our hotel, you agree to adhere to the hotel's policies and guidelines. Reservations made are subject to availability and must be secured with a valid form of payment. All guests are responsible for providing accurate information during the booking process and ensuring that any special requests are communicated in advance. Guests are required to present a valid identification upon check-in. Room rates may vary depending on the season, room type, and additional services requested.</p>
					    <div class="page-title">
						   <h5>2. Limitations</h5>
						</div>
						<p>The hotel reserves the right to deny reservations or access to guests who fail to comply with the hotel's policies. Room availability is not guaranteed until confirmation is provided. While we strive to meet all special requests, certain amenities or services may not be available due to unforeseen circumstances. Guests are responsible for any damage caused to hotel property during their stay. The hotel is not responsible for loss of personal belongings or valuables unless secured in the hotel's safe deposit system..</p>
					    <div class="page-title">
						   <h5>3. Site Terms of Use</h5>
						</div>
						<p style='margin-bottom:3rem;'>By using our website for booking or browsing, you agree to follow the terms of use set forth. Our website provides information and services related to hotel accommodations, which are subject to change at any time. The content on the site is provided for general information purposes only and should not be considered binding. Any misuse of the website, including fraudulent bookings or unauthorized access, will result in the immediate suspension of access. We reserve the right to update or modify the terms of use without prior notice.</p>
					</div>					
				</div>
			</div>
		</div>
		<!-- /Privacy policy -->
		
		<!-- Footer -->
		{% include 'includes/footer.html' %}
		<!-- /Footer -->	
	
		
	</div>

    <!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->
	
	
	<!-- jQuery -->
{% endblock %}
							